<div >
  <div class="page-header text-center">
    <h1>Auction Guidance</h1>
  </div>
  <div class="well text-center">
    <div>
    Bidding works like any auction: you put in the price you are willing to pay, someone else can come along and outbid you.
    The person with the highest bid at the end of the auction wins the item.
  </div>
  <div>
    Just because an auction starts low does not mean that it won't skyrocket toward the end.
    Keep in mind that some sellers intentionally try to create a bidding war. Before you begin bidding, have a final price in mind.
    No matter how tempting it may be, don't go over that price - you may end up paying more than you wanted or more than the
    item is worth!

  </div>
  </div>
  <div class="well row text-center">
    <p>How to auction:</p>
    <div class="col-md-4">
      <h2><strong>1.</strong>Step </h2>
      <p>Fastern faster faster faster faster faster faster faster faster</p>
    </div>
    <div class="col-md-4">
      <h2><strong>2.</strong>Step</h2>
      <p> Safer safer safer safer safer safer safer safer safer safer. </p>
    </div>
    <div class="col-md-4">
      <h2><strong>3.</strong>Step</h2>
      <p> Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla. </p>
    </div>
  </div>
 </section>
