<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
       Best way to buy and sell, best way of auctioning, faster, safer, bla bla!
      </p>
    </div>
  </div>
  <div class="text-center">
    <h2>Welcome...</h2>
    <p>we are bla bla  bla bla  bla bla  bla bla  bla bla :-)</p>
  </div>
  <div class="row text-center">
    <p>Our principles:</p>
    <div class="col-md-4">
      <h2><strong>F</strong>aster</h2>
      <p>Fastern faster faster faster faster faster faster faster faster</p>
    </div>
    <div class="col-md-4">
      <h2><strong>S</strong>afer</h2>
      <p> Safer safer safer safer safer safer safer safer safer safer. </p>
    </div>
    <div class="col-md-4">
      <h2><strong>B</strong>la bla</h2>
      <p> Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla. </p>
    </div>
  </div>
  <div class="row text-center">
    <p>
      <a class="btn btn-primary btn-lg" ui-sref="guide" >Learn more about auctioning</a>
    </p>
  </div>
</section>
